/* Visual SKY design (Venus) custom styles 

@import url('https://fonts.googleapis.com/css?family=Inconsolata');
*/
@charset "utf-8";

* {
  font-size: 12px;
  /*font-family: 'Inconsolata';*/
}
html {
  line-height: 17px;
}
:root {
  --frame-w: 100px;
  --frame-h: 100px;
  --border: 1px solid #ccc;
  --bg: #f1f3f4;
}
a {
  color: #007fff;
}
hr {
  border-top: var(--border);
}
[disabled] {
  background-color: #e0e7ff;
}
.range-vert {
  appearance: slider-vertical;
  height:150px;
  width:25px;
}
#opa-m {
  display:flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  height:150px;
  position:relative;
}
#opa-m option {
  padding: 0;
}
a:hover {
  color: #005ddd;
  text-decoration: underline;
}
a.vs-ic {
  color: #6e6e6e;
}
a.vs-ic:hover {
  color: #000;
  text-decoration:none;
}

a.menu {
  padding: 2px 15px;
  text-decoration:none;
  display: block;
  color: #374151;
  cursor: default;
}
a.menu:hover, [hover] {
  background-color: #1e90ff;
  color: #fff !important;
}
.show-a1 {
          animation: menu-show 100ms ease-out;
  -webkit-animation: menu-show 100ms ease-out;
}
.hide-a1 {
          animation: menu-hide 75ms ease-in;
  -webkit-animation: menu-hide 75ms ease-in;
}
@keyframes menu-show {
  from {opacity:0; transform:scaleX(.95) scaleY(.95); }
  to {opacity:1; transform:scaleX(1) scaleY(1); }
}
@keyframes menu-hide {
  from { opacity:1; transform:scaleX(1) scaleY(1); }
  to { opacity:0; transform:scaleX(.95) scaleY(.95); }
}
input[type=checkbox] {
  position: relative;
  top:-2px;
}

label {
  margin-right: 7px;
}
.x {
  position: relative;
  right: calc(-100% + 20px);
  color: #555;
}
.x:hover {
  color: #000;
}
pre:focus {
  outline: none;
  background: url(../?_svg=line);
}
.vs-mono, #code-body pre * {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.vs-tag {
  color: #f77;
}
.vs-yellow {
  background-color: #ffedd5;
}
/*
.vs-class {
  color: #93c;
}
.vs-id {
  color: #0A0;
}
.vs-src {
  color: #00F;
}
*/
#mov-x {
  width: 3px;
  position: absolute;
  left: calc(var(--frame-w) + 152px);
  top: 27px;
  height: calc(100vh - 44px);
  cursor: w-resize;
  z-index: 100;
}
#main {
  min-width: 640px;
  min-height: 480px;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows:     27px auto 100px;
  grid-template-areas: 'aside head head'
                       'aside frame right'
                       'tail  tail right';
}

#v-head {
  grid-area: head;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  padding: 0 .75rem;
  border-bottom: var(--border);
  background-color: var(--bg);
}
#v-menu {
  grid-area: aside;
  overflow: auto;
  border-right: var(--border);
  padding-left: .5rem;
  background-color: #fff;
}
#v-main {
  grid-area:frame;
}
#v-right {
  grid-area:right;
  /*display:inline-flex;
  align-items:start;
  */
  overflow: auto;
  border-left: var(--border);
}

#v-tail {
  grid-area: tail;
  border-top: var(--border);
}
#info {
  width: 100%;
  height: 24px;
  background-color: var(--bg);
  border-bottom: 1px solid #ccc;
  display: inline-flex;
  align-items: center;
}
#mov-y {
  position: relative;
  top:-24px;
  width: calc(100% - 17px);
  height: 3px;
  cursor:n-resize;
}
#tail {
  height: calc(100% - 24px);
  overflow: auto;
  margin-top: -3px;
}

#sw-icon {
  background-color: var(--bg);
  margin-top: -24px;
  float: right;
  position: relative;
  right: -14px;
  bottom: calc(-100% - 24px);
  z-index: 80;
}

.header, .t-head, .mbg {
  background-color: var(--bg);
}
.t-head {
  width: 100%;
  height: 27px;
}
#v-right .header { width: calc(100vw - 167px - var(--frame-w)); }
#tail    .header { width: calc(133px + var(--frame-w)); }
#v-right #code-body pre { min-height:calc(100vh - 90px); }
#tail    #code-body pre { min-height:calc(100vh - 115px - var(--frame-h)); }
.tool {
  border-bottom: var(--border);
}
#t-unicode td {
  border: 1px solid #777;
  width: 30px;
  height: 30px;
  font-size: 20px;
}

.btn {
  padding: 0 .5rem;
  background-color: #bfdbfe;
  color: #222;
}
.btn:hover {
  background-color: #007fff;
  color: #fff;
}

#fsize, #fsize:focus {
  width: 90px;
  border:none;
  padding: 3px 22px 3px 5px;
}

#hcolors td {
  width: 100px !important;
  overflow: hidden;
}
#css {
  overflow: auto;
}

.even:nth-child(even) {
  background-color:#e5e7eb;
}
.uni-td {
  text-align:center;
  
}
.active {
  color: #fff !important;
  background-color: #1e90ff !important;
}
/*.active {
  color: #000 !important;
  border-bottom:2px solid #3b82f6 !important;
}*/
.palette, #big-colors td {
  font-family: monospace;
  text-align:center;
  vertical-align:middle;
}
#big-colors td {
  
}
.h-over, .c-over {
  background-color:#fff;
  display:inline-block;
  padding:3px 5px;
  min-width:83px;
}
.c-over {
  background-color:#1e90ff;
  color:#fff;
}

.s-menu {
  line-height:26px;
  padding-left:16px;
  color: inherit !important;
  cursor: default;
}
.s-menu:hover {
  text-decoration: none;
  background-color: #ddd;
}
.s-menu[active] {
  padding-left:10px;
  border-left:6px solid gray;
  background-color: #eee;
}

#f1 .desc-chk {
  padding-left: 3px;
}
#f1 input[type=text], #f1 input[type=number], #f1 textarea {
  font-family: monospace;
}
#f1 input[type=text], #f1 input[type=number], #f1 textarea, select {
  padding: 0 3px;
  margin: 2px 0;
  border-color: rgb(209 213 219 / 1);
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

[type='text']:focus, [type='number']:focus, select:focus, textarea:focus {
  border-color: #a5b4fc !important;
  --tw-ring-opacity: 0.5;
  --tw-ring-shadow: 0 0 0 4px rgb(199 210 254 / var(--tw-ring-opacity));
  box-shadow: var(--tw-ring-shadow);
  animation: ring 0.1s linear;
}
@property --tw-ring-opacity {
  syntax:'<number>';
  initial-value: 0;
  inherits: false;
}
@keyframes ring {
  from {
    --tw-ring-opacity: 0;
  }
  to {
    --tw-ring-opacity: 0.5;
  }
}

#f1 dl {
  display: flex;
}
#f1 dt {
  width: 140px;
  text-align:right;
  padding-right: 7px;
}
#f1 dd {
  flex: 1 1 0%;
}

.menu-btn {
  height: 26px;
  text-decoration: none;
  color:#6e6e6e;
  padding: 5px 8px 0 8px;
  cursor: default;
}
.menu-btn:hover {
  text-decoration: none;
  background-color:#e5e7eb;
  color:#000;
}
.menu-btn:active {
  color: #fff !important;
  background-color: #1e90ff !important;
}
#s-tail {
  height: calc(20% - 42px);
}
.del-t-btn {
  font-size: 17px;
  color: #333;
  padding:2px 5px 3px 5px;
}
.del-t-btn:hover {
  color: #fff;
  background-color: #1e90ff;
  text-decoration:none;
}

.f9, .f9 span {
  padding:0 3px;
  font-size: 9px;
  line-height: 9px;
}
div.f9:hover, a.f9-2:hover {
  cursor:default;
  color:#6f719b;
  background-color: #fff;
}
div.f9:hover > div {
  display:inline-block;
  background-color: #fff;
  padding:3px;
}
.f9 a {
  text-decoration: none;
  color: #6f719b;
}
.f9 a:hover, .f9 div.flex:hover {
  color: #fff;
  background-color: #1e90ff; /* old-#2563eb  #1a73e8 #1e90ff */
}
.f9 div.flex:hover > div.sub-menu {
  display:inline-block;
  left: 115px;
  background-color: #fff;
  padding:3px 0;
}
.t-left {
  width: 50px;
  padding: 5px 3px;
  white-space: nowrap;
}
.syn-code {
  overflow: hidden;
  flex-grow: 1;
  width: 6rem;
  height: 1.5rem; /* items-center */
}
.syn-code div {
  text-overflow: ellipsis;
}
.syn-code:hover {
  overflow: visible;
}
.syn-code:hover div {
  padding:5px 8px;
  background-color: #fef3c7;
  position: sticky;
  right: 35px;
  z-index:100;
}

.pad > p {
  margin: 1em 0;
}
.pad > pre {
  background-color: #fef9c3;
  padding:5px 8px;
}
.pad > ul {
  list-style-type: disc;
  list-style-position: inside;
}
.pad > ul > li {
  margin: 0.4em 0;
  padding: 0;
}



h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  --tw-text-opacity: 1;
  color: rgba(37, 99, 235, var(--tw-text-opacity));
}

h2 {
  font-size: 1.25rem;
  line-height: 1.5rem;
  margin: 1rem 0;
  color: rgb(219 39 119);
}










